<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="ip_address" value="195.211.176.180" />
      <add key="port" value="1433" />
      <add key="database" value="testAntik" />
      <add key="uid" value="psj" />
      <add key="password" value="SommerApi2019" />
      <add key="production" value="false" />
      <add key="ClientSettingsProvider.ServiceUri" value="" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>